{% extends 'base_main.html' %}
{% load static %}
{% block title %}The ERP - Venda{% endblock %}

{% block content %}
<div class="rounded p-3 my-auto">
    <form action="" id="form-container" class="border-primary position-relative">
        {% csrf_token %}
        <div class="d-flex justify-content-between">
            <div class="form-floating">
                {{form.customer}}
                <label for="customer">Cliente</label>
            </div>
        </div>
        <div class="table-responsive container-fluid p-0 ">
                <table class="table align-middle table-hover table-bordered">
                    <thead class="table-light align-middle sticky-top" id="tableHeader">
                    <tr class="d-flex w-100">
                        <th class="col-3 p-0 text-center">
                            Produto
                        </th>
                        <th class="col-3 p-0 text-center">
                            Val. Unitário
                        </th>
                        <th class="col-3 p-0 text-center">
                            Quantidade
                        </th>
                        <th class="col-3 p-0 text-center">
                            Val. Total
                        </th>
                    </tr>
                    </thead>
                    <tbody class="align-middle mt-5" id="table-products">
                    {{ formset.management_form }}
                    {% for form in formset %}
                    <tr class="d-flex w-100">
                        <td class="col-3">{{form.product}}</td>
                        <td class="col-3">{{form.product.p_sell}}</td>
                        <td class="col-3">{{ form.quantity}}</td>
                        <td class="col-3">{{form.price}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <button class="pe-auto btn btn-primary position-absolute top-100 start-100 translate-middle rounded-circle z-2" id="add-form">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </table>
        </div>
        <button class="pe-auto btn btn-primary w-100" type="submit">
            Finalizar
        </button>
    </form>
</div>
{% endblock %}
{%block extra_js%}
<script src="{%static 'js/add_products.js'%}"></script>
{%endblock%}