{%extends 'base_main.html'%} 
{% load static %}
{%block title%}The ERP - Produtos{%endblock%}
{%block content%}
<form name="form" class="bg-light rounded border border-primary p-2 my-5 h-75 overflow-y-scroll overflow-x-hidden" method="post" action="{%if data%}{% url 'get_products' %}update/{{data.id}}/{%else%}{% url 'get_products' %}create/{%endif%}">
  {% csrf_token %}
  <div class="d-flex flex-column">
    <div class="container-fluid">
      <div class="row mt-3">
        <div class="col-12 position-relative">
          <fieldset class="border border-primary p-3 rounded mb-2" id="info">
                <legend class="fs-5">Dados básicos</legend>
                <div class="row mb-2">
                <div class="col-4 col-sm-2">
                    <div class="form-floating form-group">
                    {{form.type}}
                    <label for="id">Tipo</label>
                    </div>
                </div>
                <div class="col-8 col-sm-10">
                    <div class="form-floating form-group">
                    {{ form.name }}
                    <label for="name">Nome</label>
                    </div>
                </div>
                </div>
                <div class="row mb-2">
                <div class="col-12 col-sm-4 mb-2 mb-sm-0">
                    <div class="form-floating">
                    {{form.b_date}}
                    <label for="data-nascimento">Nascimento</label>
                    </div>
                </div>
                <div class="col-12 col-sm-8">
                    <div class="form-floating">
                    {{form.document}}
                    <label for="document">Documento</label>
                    </div>
                </div>
                </div>
                <div class="row">
                <div class="col-12">
                    <div class="form-floating">
                    {{form.observations}}
                    <label for="obs">Observações</label>
                    </div>
                </div>
                </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-end gap-2">
      <button type="submit"  class="btn btn-primary">Salvar</button>
      <a class="btn btn-primary" href="{% url 'get_products' %}">Voltar</a>
    </div>
  </div>
</form>
{%endblock%}