#sidebar{
    width: 300px;
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
}
.dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--bs-body-color);
}
ul li:hover{
    background-color: var(--bs-light);
    color: var(--bs-primary);
}