#sidebar{
    width: 20%;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
}
.navbar-icon{
    height:40px;
    width: 40px;
}
.dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--bs-body-color);
}
