{%load static%}
<div class="h-100 py-1 border-end bg-primary text-light" id="sidebar">
    <nav class="h-100 d-flex flex-column justify-content-between px-3">
        <ul class="d-flex flex-column p-0 overflow-y-scroll" style="list-style: none;">
            <li class="fs-5 p-2 my-3 rounded"><a class="nav-link d-flex align-items-center gap-2" href="{%url 'home' %}" aria-current="page"><i class="fa-solid fa-house fa-xl"></i>Home</a></li>
            <li class="fs-5 p-2 my-3 rounded"><a class="nav-link d-flex align-items-center gap-2" href="{%url 'get_sales' %}"><i class="fa-solid fa-cart-shopping fa-xl"></i>Vendas</a></li>
            <li class="fs-5 p-2 my-3 rounded"><a class="nav-link d-flex align-items-center gap-2" href="{% url 'get_customers' %}"><i class="fa-solid fa-user fa-xl"></i>Clientes</a></li>
            <li class="fs-5 p-2 my-3 rounded"><a class="nav-link d-flex align-items-center gap-2" href="{% url 'get_products' %}"><i class="fa-solid fa-box fa-xl"></i>Produtos</a></li>
            <li class="fs-5 p-2 my-3 rounded"><a class="nav-link d-flex align-items-center gap-2" href="{% url 'get_stock' %}"><i class="fa-solid fa-boxes-stacked fa-xl"></i>Estoque</a></li>
            <li class="fs-5 p-2 my-3 rounded"><a class="nav-link d-flex align-items-center gap-2" href="{% url 'get_suppliers' %}"><i class="fa-solid fa-truck fa-xl"></i>Fornecedores</a></li>
        </ul>
        <div class="w-100 border-top">
            <div class="dropdown my-4">
                <a class="dropdown-toggle d-flex align-items-center text-decoration-none" href="#" data-bs-toggle="dropdown">
                    <strong class="text-light">{{ user.get_full_name|default:user.username }}</strong>
                </a>
                <div class="dropdown-menu shadow text-small text-light">
                    <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
                </div>
            </div>
        </div>
    </nav>
</div>